<h1>Leaderboard</h1>

<div class="table-responsive col-md-4 center-block">
    <form method="GET" action="<%= leaderboard_path %>" class="row col-md-12 center-block">
        <div class="col-no-pad col-xs-6">
            <input type="text" name="s" id="search" class="form-control" />
        </div>
        <div class="col-no-pad col-xs-3">
            <select name="filter" class="form-control">
                <option value="username">Username</option>
                <option value="title">Puzzle</option>
                <option value="puzzle_size">Size</option>
            </select>
        </div>
        <input type="submit" value="Search" class="col-xs-3 btn btn-primary" />
    </form>
    <%
        if !@scores.empty?
            count = 1
        %>
            <table class="table table-bordered">
                <tr><th>User</th><th>Puzzle</th><th>Size</th><th>Time</th></tr>
        <%
            @scores.each do|score|
                user = User.find score.user_id
                puzzle = Puzzle.find score.puzzle_id
                count += 1
        %>
            <tr <%= "class=tr-highlight" if count % 2 != 0 %> >
                <td><%= link_to(user.username, "#{users_path}/view/#{score.user_id}") %></td>
                <td><%= link_to(puzzle.title, "#{puzzles_path}/#{score.puzzle.title}/#{score.puzzle_size}") %></td>
                <td><%= link_to("#{score.puzzle_size} x #{score.puzzle_size}", "#{leaderboard_path}?s=#{score.puzzle_size}&filter=puzzle_size") %></td>
                <td><%= score.puzzle_score %></td>
            <tr>
        <%
            end
            %>
            </table>
            <div class="center-text">
                <%= will_paginate @puzzle %>
            </div><%
        else
            %><h3 class="center-text">No matching results</h3><%
        end
    %>
</div>