- if flash[:error].present?
    %ul.dotless-list
        %li{:class => "alert alert-danger", :role => "alert"}= flash[:error]

= form_tag users_update_password_path, :class => "col-md-3 center-block interact-form" do
    %h3.center-text Reset Password
    %div.form-group
        %div.form-group Enter your email and your new password will be sent to you
        = label_tag "Email"
        = email_field_tag :email, nil, :autofocus => true, :required => true, :class => "form-control"
    = submit_tag "Reset Password", :class => "btn btn-primary"