<%= image_tag(@user.profile_picture, :class => "center-image profile-picture") %>
<h1><%= @user.username %>'s Puzzles</h1>
    <%
        count = 0
        @user.puzzles.each do |p|

            if count == 0
                %> <div class="row"> <%
            end
    %>
        <div class="col-md-3 col-sm-6">
            <ul class="user-puzzles-list">
                <li class="list-title"><%= p.title %></li>
                <li><%= cl_image_tag(p.path, :height => 100, :crop => :fill) %></li>
                <li>
                    <select name="grid_size" class="form-control grid-size" id="grid-size-<%= p.id %>">
                        <option value="3">3 x 3</option>
                        <option value="5">5 x 5</option>
                        <option value="7">7 x 7</option>
                        <option value="9">9 x 9</option>
                    </select>
                    <%= link_to("Play!", "#{puzzles_path}/#{p.title}/3", :class => "btn btn-primary my-puzzle-play", :id => "#{p.id}", "data-path" => "#{puzzles_path}/#{p.title}", "data-size" => "3"  ) %>
                </li>
            </ul>
        </div>
    <%
        count += 1
        if count == 4
            count = 0
            %> </div> <%
        end

        end
    %>