<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Warning!</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>

<h1>Choose a Puzzle and Hit Play!</h1>

<form method="GET" action="<%= root_path %>" class="row col-md-4 center-block">
  <div class="col-no-pad col-xs-6">
      <input type="text" name="s" id="search" class="form-control" />
  </div>
  <div class="col-no-pad col-xs-3">
      <select name="filter" class="form-control">
          <option value="username">Username</option>
          <option value="title">Puzzle</option>
      </select>
  </div>
  <input type="submit" value="Search" class="col-xs-3 btn btn-primary" />
</form>
<% if !@puzzle.empty? %>

  <form class="col-md-6 center-block" id="select-puzzle-form">
      <div class="col-md-9" id="puzzles">
        
        <div>
          <input type="radio" class="puzzle-name" id="<%= @puzzle.first.id %>" name="puzzle-title" value="<%= @puzzle.first.title %>" checked="true">

          <label class="puzzle-label" for="<%= @puzzle.first.id %>">
            <%= cl_image_tag(@puzzle.first.path, :class => "puzzle-img") %>
            <span class="puzzle-author">
              <%= link_to "#{users_path}/view/#{@puzzle.first.user.id}" do %>
                <%= @puzzle.first.user.username %>
                <%= image_tag(@puzzle.first.user.profile_picture, :class => "puzzle-author-picture") %>
              <% end %>
                </span>
            <span class="puzzle-title"><%= @puzzle.first.title %> |&nbsp;
            </span>
          </label>
        </div>


        <% 
          puzzle_minus_first = @puzzle[1..@puzzle.length]
          puzzle_minus_first.each do |p|
        %>
            <div>
              <input type="radio" class="puzzle-name" id="<%= p.id %>" name="puzzle-title" value="<%= p.title %>">

              <label class="puzzle-label" for="<%= p.id %>">
                <%= cl_image_tag(p.path, :class => "puzzle-img") %>
                <span class="puzzle-author">
                  <%= link_to "#{users_path}/view/#{p.user.id}" do %>
                    <%= p.user.username %>
                    <%= image_tag(p.user.profile_picture, :class => "puzzle-author-picture") %>
                  <% end %>
                </span>
                <span class="puzzle-title"><%= p.title %> |&nbsp </span>
              </label>
            </div>

        <% end %>

      </div>

      <select name="grid_size" class="form-control grid-size" id="grid-size">
          <option value="3">3 x 3</option>
          <option value="5">5 x 5</option>
          <option value="7">7 x 7</option>
          <option value="9">9 x 9</option>
      </select>

      <%= 
        link_to("Play!", "#{puzzles_path}/#{@puzzle.first.title}/3", :class => "btn btn-primary", :id => "puzzle-play", "data-title" => "#{@puzzle.first.title}", "data-path" => "#{puzzles_path}", "data-size" => "3"  )
      %>
  </form>

<% else %>

  <h3 class="center-text">No Puzzles to Display</h3>

<% end %>