- if @puzzle.errors.any?
    %ul
        - @puzzle.errors.full_messages.each do |msg|
            %li=msg

= form_for @puzzle, :html => { :class => "col-md-3 center-block", :multipart => true } do |f|
    %div.form-group
        = f.label :title
        = f.text_field :title, :required => true, :class => "form-control"
    %div.form-group
        = f.label :path
        = f.cl_image_upload :path, :html => { :required => "true", :class => "form-control" }
    = f.submit :class => "btn btn-primary"