<!-- Modal -->
<div class="modal fade" id="winModal" tabindex="-1" role="dialog" aria-labelledby="winModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="winModalLabel">You Solved It!</h4>
      </div>
      <div class="modal-body">
        You solved the puzzle!<br/>
        Your time: <span id="time"></span><br/>
        Play again?<br/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="puzzle-goBack" data-dismiss="modal" data-backUrl = "<%= puzzles_path %>">No</button>
        <button type="button" class="btn btn-primary" id="puzzle-reload" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>


<h1><%= @puzzle.title %></h1>
<div id="timer"></div>
<div id="canvas" style="height:<%= @puzzle.height %>px; width: <%= @puzzle.width * 2 %>px">
    <div id="canvas-pieces" style="height:<%= @puzzle.height %>px; width: <%= @puzzle.width %>px">
    </div>
    <div id="canvas-puzzle" style="height:<%= @puzzle.height %>px; width: <%= @puzzle.width %>px">
    </div>
</div>

<script>
$(document).ready(function() {   
    // runPuzzle( "url(<%= @puzzle.path %>)", <%= params[:size] %> );
});
</script>

<!-- // <script> -->
<!-- //     var image = "<%#= asset_path '' %>" -->
<!-- // </script> -->